<template>
<q-item
  class="categories-grid-card q-card--bordered"
  clickable
>
  <q-item-section avatar>
    <q-img
      src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_960_720.jpg"
    />
  </q-item-section>
  <q-item-section>
    <div class="card-text text-subtitle1">
      {{ category.name }}
    </div>
  </q-item-section>
  <q-item-section side>
    <div class="flex">
      <q-btn icon="las la-pen" color="dark" unelevated dense size="sm"/>
      <q-btn icon="las la-trash-alt" color="negative" unelevated dense size="sm" class="q-ml-md" @click="del"/>
    </div>

  </q-item-section>
</q-item>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'categories-grid-card',
  props: {
    category: Object,
    default: () => {}
  },
  methods: {
    ...mapActions('categories', ['deleteCategory']),
    del () {
      const deleteConfirm = confirm(`Вы уверены что хотите уалить категорию "${this.category.name}"`)
      if (deleteConfirm) this.deleteCategory(this.category._id)
    }
  }
}
</script>

<style lang="sass">

</style>
