<template>
<div class="categories-grid">
  <div class="row">
    <div
      v-for="category in categories"
      :key="category._id"
      class="col-12 q-mt-sm"
    >
      <categories-grid-card :category="category"/>
    </div>
  </div>
</div>
</template>

<script>
import CategoriesGridCard from 'components/shop/categories/categories-grid-card'
export default {
  name: 'categories-grid',
  components: { CategoriesGridCard },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>

</style>
