.f-w-900
  font-weight: 900 !important

.f-w-700
  font-weight: 700 !important

.f-w-300
  font-weight: 300 !important

h1, h2, h3, h4, h5, h6
  font-weight: 700 !important
  line-height: 1.3 !important

h2
  font-size: 24px !important
  font-weight: 700 !important

h3
  font-size: 20px !important
  font-weight: 700 !important

p, .text-subtitle1
  margin-bottom: 0 !important
  line-height: 1.2 !important

.fontsize-12
  font-size: 12px !important
