<template>
  <q-page class="q-pa-md">
    <div class="row">
      <div class="col-6">
        <base-section-title title="Категории" :badge="categoriesLength.toString()"/>
      </div>
      <div class="col-6 text-right">
        <create-category />
      </div>
    </div>
    <categories-grid class="q-mt-lg" :categories="categories"/>
  </q-page>
</template>

<script>
import BaseSectionTitle from 'components/base-section-title'
import { mapState } from 'vuex'
import CategoriesGrid from 'components/shop/categories/categories-grid'
import CreateCategory from 'components/shop/categories/create-category/create-category'

export default {
  name: 'page-categories',
  components: {
    CreateCategory,
    CategoriesGrid,
    BaseSectionTitle
  },
  computed: {
    ...mapState('categories', ['categories']),
    categoriesLength () {
      return this.categories.length
    }
  },
  preFetch ({ store }) {
    return store.dispatch('categories/loadCategories')
  }
}
</script>

<style scoped>

</style>
