<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  preFetch ({ store }) {
    const token = localStorage.getItem('token')
    if (token) {
      return store.dispatch('user/getUser', token)
    }
  }
}
</script>
