<template>
<q-list separator class="text-subtitle1 text-bold">
  <q-item
    :to="{name: 'home'}"
    clickable
  >
    <q-item-section avatar>
      <q-icon name="las la-home"/>
    </q-item-section>
    <q-item-section>
      Главная
    </q-item-section>
  </q-item>

  <q-item class="bg-dark text-white flex items-center">
    Магазин
  </q-item>

  <q-item
    v-for="page in shopPages"
    :key="page.title"
    :to="page.slug"
    clickable
  >
    <q-item-section avatar>
      <q-icon :name="page.icon"/>
    </q-item-section>
    <q-item-section>
        {{ page.title }}
      </q-item-section>
  </q-item>
</q-list>
</template>

<script>
import pages from 'src/data/pages'

export default {
  name: 'left-drawer-content',
  computed: {
    shopPages () {
      return pages.shop
    }
  }
}
</script>

<style scoped>

</style>
