<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title class="text-bold">
          Lifehacki admin
        </q-toolbar-title>

        <q-space />

        <user-menu />
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered>
      <!-- drawer content -->
      <left-drawer-content />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <user-dialog />
  </q-layout>
</template>

<script>

import UserDialog from 'components/user/user-dialog'
import UserMenu from 'components/user/user-menu'
import LeftDrawerContent from 'components/left-drawer/left-drawer-content'
export default {
  components: { LeftDrawerContent, UserMenu, UserDialog },
  data () {
    return {
      left: false
    }
  }
}
</script>
