<template>
<div class="pages-grid row q-col-gutter-md q-mt-xs">
  <div
    v-for="page in pagesList"
    :key="page.title"
    class="col-md-4 col-lg-3 col-6"
  >

    <q-item
      dark
      clickable
      class="rounded-borders bg-dark"
      :to="page.slug"
    >
      <q-item-section avatar>
        <q-icon :name="page.icon"/>
      </q-item-section>
      <q-item-section class="text-subtitle1 text-bold">
        {{ page.title }}
      </q-item-section>
    </q-item>
  </div>
</div>
</template>

<script>
import pages from 'src/data/pages'
export default {
  name: 'pages-grid',
  computed: {
    pagesList () {
      return pages.shop
    }
  }
}
</script>

<style scoped>

</style>
