<template>
<div>
  {{ currentUser.name || currentUser.email }}
  <q-btn
    icon="las la-door-open"
    dense
    class="q-ml-sm"
    unelevated
    @click="logout"
  >
    <q-tooltip>Выход</q-tooltip>
  </q-btn>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'user-menu',
  computed: {
    ...mapState('user', ['user']),
    currentUser () {
      return this.user || {}
    }
  },
  methods: {
    ...mapActions('user', ['logoutUser']),
    logout () {
      const logoutConfirm = confirm('Вы уверены что хотите выйти?')
      if (logoutConfirm) this.logoutUser()
    }
  }
}
</script>

<style scoped>

</style>
