<template>
<div>
<q-dialog
  v-model="dialog"
  persistent
  maximized
>
  <q-card
    dark
    class=""
  >
    <q-toolbar class="">
      <q-toolbar-title class="text-center f-w-900 text-uppercase q-pt-lg">
        Вход / Регистрация
      </q-toolbar-title>
    </q-toolbar>

    <q-card-section class="q-px-lg q-mt-xl q-mx-auto" style="max-width: 700px">
      <q-input
        v-model="formData.email"
        label="Email"
        type="email"
        dark outlined
        :error="errors.email"
        error-message="Это обязательное поле"
      />
      <q-input
        v-model="formData.password"
        label="Password"
        type="password"
        dark outlined
        :error="errors.password"
        error-message="Это обязательное поле"
      />
      <q-input
        v-model="formData.secret"
        label="Secret"
        type="password"
        dark
      />
      <q-checkbox
        v-model="formData.isAdmin"
        label="Администратор"
        dark
        class="q-mt-md"
      />
    </q-card-section>

    <q-card-actions align="center" class="q-px-lg q-pb-lg q-mt-lg">
      <q-btn
        label="Вход"
        color="primary"
        class="q-pa-md f-w-900"
        @click="login"
      />

      <q-btn
        label="Регистрация"
        outline
        color="primary"
        class="q-pa-md f-w-900"
        @click="registerNewUser"
      />
    </q-card-actions>
  </q-card>
</q-dialog>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'user-dialog',
  computed: {
    ...mapState('user', ['user']),
    dialog: {
      get: function () {
        return !this.user
      },
      set: () => null
    }
  },
  data () {
    return {
      formData: {
        email: '',
        password: '',
        secret: '',
        isAdmin: false
      },
      errors: {
        email: false,
        password: false
      }
    }
  },
  methods: {
    ...mapActions('user', ['registerUser', 'loginUser', 'getUser']),
    checkFromData () {
      if (!this.formData.email) {
        this.errors.email = true
        return false
      }
      if (!this.formData.password) {
        this.errors.password = true
        return false
      }
      return true
    },
    registerNewUser () {
      if (this.checkFromData()) this.registerUser(this.formData)
    },
    login () {
      if (this.checkFromData()) this.loginUser(this.formData)
    }
  }
}
</script>

<style scoped>

</style>
