<template>
<div class="text-h5 text-bold section-title">
  {{ title }}
  <q-badge v-if="badge" class="absolute q-pa-xs">{{ badge }}</q-badge>

</div>
</template>

<script>
export default {
  name: 'base-section-title',
  props: {
    title: String,
    badge: String
  }
}
</script>

<style lang="sass">

</style>
