<template>
  <q-stepper
    v-model="step"
    ref="stepper"
    color="primary"
    animated
  >
    <q-step
      :name="1"
      title="Основная информация"
      icon="settings"
      :done="categoryCreated"
    >
      <div class="q-mx-auto q-pt-xl" style="max-width: 600px">
        <q-input
          label="Название категории"
          v-model="formData.name"
          outlined
          :error="errors.nameError"
          error-message="Это обязательное поле"
        />

      </div>

    </q-step>
  </q-stepper>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'create-category-form',
  computed: {

  },
  data () {
    return {
      step: 1,
      categoryCreated: false,
      formData: {
        name: '',
        image: '',
        parentCategory: ''
      },
      errors: {
        nameError: false
      }
    }
  },
  methods: {
    ...mapActions('categories', ['createCategory']),
    createNewCategory () {

    }
  }
}
</script>

<style scoped>

</style>
