<template>
<div class="add-category">
  <q-btn
    label="Категория"
    icon="las la-plus"
    color="positive"
    unelevated
    class="text-bold"
    @click="dialog = true"
  />

  <q-dialog v-model="dialog" maximized>
    <q-card class="fit">
<!--      Toolbar-->
      <q-toolbar class="bg-primary  text-white text-h5">
        <q-toolbar-title class="f-w-900">Создание категории</q-toolbar-title>
        <q-btn icon="close" v-close-popup unelevated dense/>
      </q-toolbar>
      <q-card-section >

        <create-category-form />

      </q-card-section>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import CreateCategoryForm from 'components/shop/categories/create-category/create-category-form'
export default {
  name: 'create-category',
  components: { CreateCategoryForm },
  data () {
    return {
      dialog: true,
      categoryCreated: false
    }
  }
}
</script>

<style scoped>

</style>
