<template>
  <q-page class="q-pa-md">
    <base-section-title title="Разделы"/>
    <pages-grid />
  </q-page>
</template>

<script>
import BaseSectionTitle from 'components/base-section-title'
import PagesGrid from 'components/main/pages-grid'
export default {
  name: 'PageIndex',
  components: { PagesGrid, BaseSectionTitle }
}
</script>
